<a href="https://colab.research.google.com/github/Letch49/ML_vvsu_2024/blob/master/3_dataset_float_fixer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('/content/dataset3/ca_offenses_by_county.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2592 entries, 0 to 2591
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Metropolitan/Nonmetropolitan          57 non-null     object
 1   County                                57 non-null     object
 2   Violent crime                         57 non-null     object
 3   Murder and nonnegligent manslaughter  57 non-null     float64
 4   Rape (revised definition)             57 non-null     float64
 5   Rape(legacy definition)               0 non-null      float64
 6   Robbery                               57 non-null     object
 7   Aggravated assault                    57 non-null     object
 8   Property crime                        57 non-null     object
 9   Burglary                              57 non-null     object
 10  Larceny-theft                         57 non-null     object
 11  Motor vehicle theft                   57 non-null     object
 12  Arson                                 57 non-null     float64
dtypes: float64(4), object(9)
memory usage: 263.4+ KB

In [4]:
df.head(1)

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape(legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510,6.0,13.0,NaN,177,314,"2,077",463,985,629,11.0

In [18]:
import numpy import nan

def convert_to_float(df, column_name):
    # Convert the column to string, replace non-numeric values and NaN with empty strings, then convert to float
    df[column_name] = df[column_name].astype(str).str.replace('[^0-9.]', '', regex=True).replace('', nan).astype(float)
    return df[column_name]

In [19]:
# Example for replace the column dtype
df['Violent crime'] = convert_to_float(df, 'Violent crime')

In [20]:
# result column dtype
df['Violent crime']

0       510.0
1       155.0
2       426.0
3       252.0
4       962.0
        ...
2587      NaN
2588      NaN
2589      NaN
2590      NaN
2591      NaN
Name: Violent crime, Length: 2592, dtype: float64